
    /*

    .mixe {
      grid-column: 2 / 4;
      grid-row: 6;
    }
    .mixe_texte {
      grid-column: 3 / span 2;
      grid-row: 7;
      align-self: start;
    }

    .ecran {
      grid-column: 6 / 10;
      grid-row: 5;
    }
    .ecran_texte {
      grid-column: 9 / span 2;
      grid-row: 5;
      align-self: end;
    }


    */
